* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  align-items: center;
  border: 1px solid #2596be;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.box input {
  width: 0;
  border: none;
  outline: none;
  transition: width 0.5s ease;
  background: transparent;
}

.box:hover input {
  width: 300px;
  padding-left: 10px;
}

.box i {
  color: #2596be;
  font-size: 18px;
}

.box button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box button:focus {
  outline: none;
  box-shadow: none;
}

mark {
  background-color: yellow;
  color: black;
  font-weight: bold;
}
